body {
  /* display: grid; */
  /* grid-template-areas: 
  ".cpu" ".cpu-info"
  ".player-info" ".board"; */
}

.ships {
  border: dotted green;
  margin-top: 4rem;

}

.ship-button {
  /* display: flex; */
  align-content: center;
  justify-content: center;
  margin-left: 8rem;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 20rem;
  width: 40%;
  height: 40%;
  color: white;
  position: relative;
}
  .cpu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 40%;
    height: 40%;
    margin-left: .05rem;
    margin-right: 10rem;
    position: absolute;
    color: white;
    cursor: pointer;
    /* opacity: 0%; */
  }

.node {
  padding: .3rem;
  border-radius: 50%;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  width: 50%;
  background-color: blue;
  }
